@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="https://ibb.co/rkJF65D"><img src="https://i.ibb.co/rkJF65D/Screenshot-2022-04-08-13-38-45-68.png" alt="Screenshot-2022-04-08-13-38-45-68" border="0"></a>
    <p>Thanks for joining us at Global Hack Week: Share!</p>
</div>
